/* LexDigital Style Exporter - CSS Fuente */
.cuerpo-siguiente { font-family: "Liberation Serif", serif; font-size: 14pt; line-height: 1.2; color: #000000; margin-top: 4.25pt; text-indent: 17pt; text-align: left; }
.sangria-n1 { font-family: "Minion Pro", serif; font-size: 14pt; line-height: 1.2; color: #000000; margin-top: 4.25pt; text-indent: -22pt; text-align: left; }
.titulo { font-family: "Georgia Pro", serif; font-size: 24pt; color: #0054a8; text-align: center; }
.p01-body-cont { text-align: left; }
.p02-title-main { text-align: center; }
.glosario { text-align: left; }