/* LexDigital Generated CSS */
/* Documento: fragmento.indd */

/* P01_BODY_CONT */
.estilo-p01-body-cont {
  font-family: "Liberation Serif", serif;
  font-size: 14pt;
  line-height: 1.2;
  letter-spacing: 0.008em;
  text-indent: 5.997pt;
  margin-top: 1.5pt;
  text-align: left;
}

/* P01_BODY_BASE */
.estilo-p01-body-base {
  font-family: "Liberation Serif", serif;
  font-size: 14pt;
  line-height: 1.2;
  letter-spacing: 0.008em;
  margin-top: 3.5pt;
  text-align: left;
}

/* P07_INDENT_L1 */
.estilo-p07-indent-l1 {
  font-family: "Minion Pro", serif;
  font-size: 14pt;
  line-height: 1.2;
  letter-spacing: 0.008em;
  padding-left: 13.406pt;
  text-indent: -7.761pt;
  margin-top: 1.5pt;
  text-align: left;
}

/* P02_TITLE_BASE */
.estilo-p02-title-base {
  font-family: "Liberation Serif", serif;
  font-size: 15pt;
  line-height: 1.2;
  letter-spacing: 0.008em;
  margin-top: 3.5pt;
  text-align: center;
  font-weight: bold;
}

/* P02_TITLE_PART */
.estilo-p02-title-part {
  font-family: "Georgia Pro", serif;
  font-size: 24pt;
  line-height: 1.2;
  letter-spacing: 0.008em;
  padding-left: 2pt;
  margin-top: 5pt;
  margin-bottom: 1pt;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.85;
}

/* P02_TITLE_MAIN */
.estilo-p02-title-main {
  font-family: "Georgia Pro", serif;
  font-size: 16pt;
  line-height: 1.2;
  letter-spacing: 0.008em;
  margin-top: 5pt;
  margin-bottom: 1pt;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #0054a8;
}

/* P02_TITLE_CHAPTER */
.estilo-p02-title-chapter {
  font-family: "Liberation Serif", serif;
  font-size: 14pt;
  line-height: 1.2;
  margin-top: 4pt;
  text-align: center;
  font-weight: bold;
  color: #d26442;
}

/* P03_CENTER_NORMAL */
.estilo-p03-center-normal {
  font-family: "Liberation Serif", serif;
  font-size: 14pt;
  line-height: 1.2;
  letter-spacing: 0.008em;
  margin-top: 1.76388888888889pt;
  margin-bottom: 1.76388888888889pt;
  text-align: center;
}

/* P03_CENTER_BOLD */
.estilo-p03-center-bold {
  font-family: "Liberation Serif", serif;
  font-size: 14pt;
  line-height: 1.2;
  letter-spacing: 0.008em;
  margin-top: 1.76388888888889pt;
  margin-bottom: 1.76388888888889pt;
  text-align: center;
  font-weight: bold;
}

/* Caracter: C00_NORMAL */
.char-c00-normal {
}

/* Caracter: C01_BOLD */
.char-c01-bold {
  font-weight: bold;
  color: #0054a8;
}

/* Caracter: 00 Normal_char */
.char-00-normal-char {
}

/* Caracter: TerminoGlosario */
.char-terminoglosario {
}

/* Caracter: C16_TD_GLOSS */
.char-c16-td-gloss {
  color: #d26442;
}

/* ===== RELACIONES GREP ===== */
/* P01_BODY_BASE -> TerminoGlosario */
/* P01_BODY_CONT -> TerminoGlosario */
/* P01_BODY_BASE -> C16_TD_GLOSS */
/* P01_BODY_CONT -> 00 Normal_char */
/* P07_INDENT_L1 -> TerminoGlosario */
