/* ==========================================================================
   HOJA DE ESTILOS CSS GENERADA AUTOMÁTICAMENTE DESDE INDESIGN
   Documento : Ejemplo_01.indd
   Fecha     : Saturday, August 29 2026 07:34:36
   ========================================================================== */

/* Estilo InDesign: [Ningún estilo de párrafo] */
.-ning-n-estilo-de-p-rrafo- {
    font-family: "Minion Pro", sans-serif;
    font-size: 12pt;
    line-height: normal;
    text-align: left;
    margin: 0pt 0pt 0pt 0pt;
    color: #000000;
}

/* Estilo InDesign: [Párrafo básico] */
.-p-rrafo-b-sico- {
    font-family: "Minion Pro", sans-serif;
    font-size: 12pt;
    line-height: normal;
    text-align: left;
    margin: 0pt 0pt 0pt 0pt;
    color: #000000;
}

/* Estilo InDesign: P01_BODY_BASE */
.cuerpo-texto {
    font-family: "Liberation Serif", sans-serif;
    font-size: 14pt;
    line-height: normal;
    text-align: left;
    margin: 3.5pt 0pt 0pt 0pt;
    color: #000000;
}

/* Estilo InDesign: P01_BODY_CONT */
.cuerpo-siguiente {
    font-family: "Liberation Serif", sans-serif;
    font-size: 14pt;
    line-height: normal;
    text-align: left;
    margin: 1.5pt 0pt 0pt 0pt;
    text-indent: 5.997pt;
    color: #000000;
}

/* Estilo InDesign: P01_BODY_FIRST */
.p01_body_first {
    font-family: "Liberation Serif", sans-serif;
    font-size: 14pt;
    line-height: normal;
    text-align: left;
    margin: 0pt 0pt 0pt 0pt;
    color: #000000;
}

/* Estilo InDesign: P07_INDENT_L1 */
.sangria-n1 {
    font-family: "Minion Pro", sans-serif;
    font-size: 14pt;
    line-height: normal;
    text-align: left;
    margin: 1.5pt 0pt 0pt 13.406pt;
    text-indent: -7.761pt;
    color: #000000;
}

/* Estilo InDesign: P07_INDENT_L2 */
.sangria-n2 {
    font-family: "Liberation Serif", sans-serif;
    font-size: 14pt;
    line-height: normal;
    text-align: left;
    margin: 1.5pt 0pt 0pt 20.461pt;
    text-indent: -6.703pt;
    color: #000000;
}

/* Estilo InDesign: P07_INDENT_L1_NONUM */
.sangria-no-numeral {
    font-family: "Minion Pro", sans-serif;
    font-size: 14pt;
    line-height: normal;
    text-align: left;
    margin: 1.5pt 0pt 0pt 13.406pt;
    text-indent: -0.00044444444445pt;
    color: #000000;
}

/* Estilo InDesign: P02_TITLE_BASE */
.base-titulos {
    font-family: "Liberation Serif", sans-serif;
    font-weight: bold;
    font-size: 15pt;
    line-height: normal;
    text-align: center;
    margin: 3.5pt 0pt 0pt 0pt;
    color: #000000;
}

/* Estilo InDesign: P02_TITLE_PART */
.parte {
    font-family: "Georgia Pro", sans-serif;
    font-weight: bold;
    font-size: 24pt;
    line-height: normal;
    text-align: center;
    margin: 5pt 0pt 1pt 2pt;
    color: #000000;
}

/* Estilo InDesign: P02_TITLE_MAIN */
.titulo {
    font-family: "Georgia Pro", sans-serif;
    font-weight: bold;
    font-size: 16pt;
    line-height: normal;
    text-align: center;
    margin: 5pt 0pt 1pt 0pt;
    color: #0054a8;
}

/* Estilo InDesign: P02_TITLE_CHAPTER */
.capitulo {
    font-family: "Liberation Serif", sans-serif;
    font-weight: bold;
    font-size: 14pt;
    line-height: normal;
    text-align: center;
    margin: 4pt 0pt 0pt 0pt;
    color: #000000;
}

/* Estilo InDesign: P03_CENTER_NORMAL */
.texto-centrado-normal {
    font-family: "Liberation Serif", sans-serif;
    font-size: 14pt;
    line-height: normal;
    text-align: center;
    margin: 1.76388888888889pt 0pt 1.76388888888889pt 0pt;
    color: #000000;
}

/* Estilo InDesign: P03_CENTER_BOLD */
.texto-centrado-bold {
    font-family: "Liberation Serif", sans-serif;
    font-weight: bold;
    font-size: 14pt;
    line-height: normal;
    text-align: center;
    margin: 1.76388888888889pt 0pt 1.76388888888889pt 0pt;
    color: #000000;
}

